@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


body{
  font-family: 'Poppins', sans-serif;
  color: #333;
  height: 100vh;
}

.container{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 0;
  padding: 2rem 0;
}

.container h1{
  font-size: 3rem;
  border: 1px solid orange;
  border-radius: 3rem;
  padding: 0 20px;
  margin-bottom: 20px;
}

.container p{
  font-size: 1.5rem;
  font-weight: bold;
}

/* Modal */

.modal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  max-width: 80%;
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.modal-header{
  background: orange;
  display: flex;
  align-items: center;  
  justify-content: space-between;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.modal-header h2{
  color: #333;
  margin-left: 18px;
  
}

.modal-body{
  padding: 30px 30px 10px;
  text-align: justify;
  line-height: 1.7;
}

.modal-body p{
  font-weight: bold;
}

.modal-footer{
  display: flex;
  align-items: center;  
  justify-content: flex-end;
  padding: 10px;
}

button{
  background: transparent;
  border: 1px solid orange;
  font-family: inherit;
  font-size: 16px;
  padding: 3px 10px;
  border-radius: 1rem;
  cursor: pointer;
  margin: 8px;
  font-weight: bold;
  transition: all 0.2s ease-in;
}

button:hover{
  background: orange;
  color: #fff;
}

.hidden{
  display: none;
}

/* Overlay */

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  overflow: hidden;
}

/* Media queries */

/* @media(max-width: 650px){
  .container{
    height: 100vh;
  }
  .container h1{
    font-size: 2rem;
  }

  .modal{
    max-width: 80%;
  }
} */

@media(max-width: 500px){
  /* .container{
    height: 100vh;
  } */
  .container h1{
    font-size: 1.5rem;
  }

  .modal{
    width: 80%;
  }
}